div {
    padding: 1%;
    border: 1px;
}

input {
    padding: 1px;
}

label {
    padding: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*transition: 0.5s;*/
    border-radius: 10px;
    padding: 5px;
    /*background-color: #f1f1f1;*/
}

td {
    align: 'right';
}

.row {
    margin: 0 -5px;
}

/*@keyframes animar{
  from{
    backgroud-color: yellow;
    width: 50px;
  }
  to{
    backgroud-color: blue;
    width: 400px;
  }
}

input[type="submit"]{
  animation-name: animar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}*/
